.post {
  margin-bottom: 70px;
  width: 100%;
}

.post-img {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  border: 10px solid #ffffff;
  box-shadow: 0 0 4px 4px #bfbfbf;
  border-radius: 10px;
}

.lazy-load-image-background {
  background-color: #bbbbbb;
  border-radius: 10px;
}

.post-title {
  margin-bottom: 20px;
  font-size: 30px;
}

.post-text {
  font-size: 18px;
}
